In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Manufacturer': ['Toyota', 'Ford', 'Honda', 'Chevrolet', 'Nissan', 'Hyundai', 'Subaru', 'Mazda', 'Jeep',
                     'Volkswagen'],
    'Price': [35000, 32000, 33000, 31000, 34000, 30000, 37000, 31000, 38000, 36000],
    'Safety_Rating': [5, 4, 5, 4, 4, 5, 4, 5, 4, 5],
    'Cargo_Capacity': [500, 450, 480, 400, 520, 470, 430, 490, 520, 450],
    'Horsepower': [200, 250, 190, 180, 220, 210, 240, 230, 260, 180],
    'Fuel_Consumption': [8.5, 10.7, 7.8, 12.6, 9.6, 8.9, 9.4, 9.2, 11.3, 8.8],
    'Warranty_Years': [5, 3, 4, 3, 5, 6, 3, 4, 5, 4],
    'Ground_Clearance': [203, 201, 208, 193, 198, 213, 221, 191, 228, 196]
}

suv_df = pd.DataFrame(data)
suv_df

,Manufacturer,Price,Safety_Rating,Cargo_Capacity,Horsepower,Fuel_Consumption,Warranty_Years,Ground_Clearance
0,Toyota,35000,5,500,200,8.5,5,203
1,Ford,32000,4,450,250,10.7,3,201
2,Honda,33000,5,480,190,7.8,4,208
3,Chevrolet,31000,4,400,180,12.6,3,193
4,Nissan,34000,4,520,220,9.6,5,198
5,Hyundai,30000,5,470,210,8.9,6,213
6,Subaru,37000,4,430,240,9.4,3,221
7,Mazda,31000,5,490,230,9.2,4,191
8,Jeep,38000,4,520,260,11.3,5,228
9,Volkswagen,36000,5,450,180,8.8,4,196

In [3]:
suv_df = suv_df.set_index('Manufacturer')
suv_df.index.name = None
suv_df = suv_df.T
suv_df['Criterion'] = ['min', 'max', 'max', 'max', 'min', 'max', 'max']
suv_df

,Toyota,Ford,Honda,Chevrolet,Nissan,Hyundai,Subaru,Mazda,Jeep,Volkswagen,Criterion
Price,35000.0,32000.0,33000.0,31000.0,34000.0,30000.0,37000.0,31000.0,38000.0,36000.0,min
Safety_Rating,5.0,4.0,5.0,4.0,4.0,5.0,4.0,5.0,4.0,5.0,max
Cargo_Capacity,500.0,450.0,480.0,400.0,520.0,470.0,430.0,490.0,520.0,450.0,max
Horsepower,200.0,250.0,190.0,180.0,220.0,210.0,240.0,230.0,260.0,180.0,max
Fuel_Consumption,8.5,10.7,7.8,12.6,9.6,8.9,9.4,9.2,11.3,8.8,min
Warranty_Years,5.0,3.0,4.0,3.0,5.0,6.0,3.0,4.0,5.0,4.0,max
Ground_Clearance,203.0,201.0,208.0,193.0,198.0,213.0,221.0,191.0,228.0,196.0,max

In [4]:
suv_df.to_csv('suv_manufacturers.csv')

In [5]:
suv_df = pd.read_csv('suv_manufacturers.csv', index_col=0)
suv_df

,Toyota,Ford,Honda,Chevrolet,Nissan,Hyundai,Subaru,Mazda,Jeep,Volkswagen,Criterion
Price,35000.0,32000.0,33000.0,31000.0,34000.0,30000.0,37000.0,31000.0,38000.0,36000.0,min
Safety_Rating,5.0,4.0,5.0,4.0,4.0,5.0,4.0,5.0,4.0,5.0,max
Cargo_Capacity,500.0,450.0,480.0,400.0,520.0,470.0,430.0,490.0,520.0,450.0,max
Horsepower,200.0,250.0,190.0,180.0,220.0,210.0,240.0,230.0,260.0,180.0,max
Fuel_Consumption,8.5,10.7,7.8,12.6,9.6,8.9,9.4,9.2,11.3,8.8,min
Warranty_Years,5.0,3.0,4.0,3.0,5.0,6.0,3.0,4.0,5.0,4.0,max
Ground_Clearance,203.0,201.0,208.0,193.0,198.0,213.0,221.0,191.0,228.0,196.0,max

In [6]:
def normalize_criterion(row):
    if row['Criterion'] == 'min':
        return row[:-1] / row[:-1].sum()
    return (1 / row[:-1]) / sum(1 / row[:-1])

def calculate_score(row, weights):
    return (1 - row) ** (-1) @ weights

In [7]:
suv_df = suv_df.apply(normalize_criterion, axis=1)
suv_df = suv_df.T
suv_df

,Price,Safety_Rating,Cargo_Capacity,Horsepower,Fuel_Consumption,Warranty_Years,Ground_Clearance
Toyota,0.103858,0.088889,0.093598,0.106287,0.087810,0.079470,0.100771
Ford,0.094955,0.111111,0.103998,0.085030,0.110537,0.132450,0.101774
Honda,0.097923,0.088889,0.097498,0.111881,0.080579,0.099338,0.098349
Chevrolet,0.091988,0.111111,0.116997,0.118097,0.130165,0.132450,0.105992
Nissan,0.100890,0.111111,0.089998,0.096625,0.099174,0.079470,0.103316
Hyundai,0.089021,0.088889,0.099572,0.101226,0.091942,0.066225,0.096040
Subaru,0.109792,0.111111,0.108835,0.088573,0.097107,0.132450,0.092564
Mazda,0.091988,0.088889,0.095508,0.092424,0.095041,0.099338,0.107102
Jeep,0.112760,0.111111,0.089998,0.081760,0.116736,0.079470,0.089722
Volkswagen,0.106825,0.088889,0.103998,0.118097,0.090909,0.099338,0.104370

In [8]:
weights = np.ones(suv_df.shape[1])
weights = weights / sum(weights)
suv_df['Score'] = suv_df.apply(lambda x: calculate_score(x, weights), axis=1)
suv_df = suv_df.sort_values(by='Score')
suv_df['Score']

Hyundai       1.099558
Toyota        1.104329
Mazda         1.105938
Honda         1.106733
Nissan        1.107816
Jeep          1.108155
Volkswagen    1.113424
Ford          1.118453
Subaru        1.118553
Chevrolet     1.130513
Name: Score, dtype: float64

In [9]:
print(f'Optimal SUV Manufacturer: {suv_df.iloc[0].name}')
print(f'Integrated score: {suv_df.iloc[0, -1]}')

Optimal SUV Manufacturer: Hyundai
Integrated score: 1.0995583160963056